<div>
    <md-toolbar>
        <md-button class="md-icon-button" @click="toggleLeftSidenav">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 class="md-title">Campanha do Brinquedo</h2>
    </md-toolbar>
    <md-sidenav class="md-left" ref="leftSidenav">
        <md-toolbar class="md-large">
            <div class="md-toolbar-container">
                <h3 class="md-title">Sidenav content</h3>
            </div>
        </md-toolbar>
        <md-list v-for="rota in rotas" :key="rota.name">
            <md-list-item>
                <router-link :to="rota.path || '/'" @click.native="close()">{{rota.title}}</router-link>
            </md-list-item>
        </md-list>
    </md-sidenav>
</div>