<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
      <i class="material-icons">menu</i>
    </a>
    <h2 class="md-title">Campanha do Brinquedo</h2>
    <ul class="side-nav grey darken-2" id="mobile-demo">
      <li class="sidenav-header blue">
        <div class="row">
          <div class="col s4">
            <img src="https://gravatar.com/avatar/961997eb7fd5c22b3e12fb3c8ca14e11?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png"
              width="48px" height="48px" alt="" class="circle responsive-img valign profile-image">
          </div>
          <div class="col s8">
            <a class="btn-flat dropdown-button waves-effect waves-light white-text" href="#" data-activates="profile-dropdown">Jay
              <i class="mdi-navigation-arrow-drop-down right"></i>
            </a>
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a href="#">
                  <i class="material-icons">person</i>Profile</a>
              </li>
              <li>
                <a href="#">
                  <i class="material-icons">settings</i>Setting</a>
              </li>
              <li>
                <a href="#">
                  <i class="material-icons">help</i>Help</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <i class="material-icons">lock</i>Lock</a>
              </li>
              <li>
                <a href="#">
                  <i class="material-icons">exit_to_app</i>Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="blue">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header white-text waves-effect waves-blue ">
              <i class="material-icons white-text ">language</i>Language
              <i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i>
            </a>
            <div class="collapsible-body z-depth-3">
              <ul>
                <li>
                  <a class="waves-effect waves-blue" href="#">English</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">العربية</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">中文</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Čeština</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Nederlands</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Français</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Deutsch</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">한국어</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Português</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Русский</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Español</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Svenska</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">ภาษาไทย</a>
                </li>
                <li>
                  <a class="waves-effect waves-blue" href="#">Türkçe</a>
                </li>
                <li>
                  <div class="divider"></div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
</nav>

<!-- div>
  <md-toolbar>
    <md-button class="md-icon-button" @click="toggleLeftSidenav">
      <md-icon>menu</md-icon>
    </md-button>
    <h2 class="md-title">Campanha do Brinquedo</h2>
  </md-toolbar>
  <md-sidenav class="md-left" ref="leftSidenav">
    <md-toolbar class="md-large">
      <div class="md-toolbar-container">
        <h3 class="md-title">Sidenav content</h3>
      </div>
    </md-toolbar>
    <md-list v-for="rota in rotas" :key="rota.name">
      <md-list-item>
        <router-link :to="rota.path || '/'" @click.native="close()">{{rota.title}}</router-link>
      </md-list-item>
    </md-list>
  </md-sidenav>
</div -->
