<div class="container">
  <form class="form form-login" @submit.prevent="login()">
    <div class="row">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title"> Login </div>
            <div class="card-subhead info info-error" v-if="infoError">{{ messageError }}</div>
            <div :class="{'is-waiting': loader}">
              <div class="form-block">
                <input v-model.trim="email" class="field" name="email" type="email" placeholder="E-mail address" required>
              </div>
              <div class="form-block">
                <input v-model.trim="password" class="field" name="password" type="password" placeholder="Password" required>
              </div>
            </div>
          </div>
          <div class="card-action">
            <router-link to="/password-reset">Lost your password?</router-link>
            <button class="button button--green form__submit">Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
