<div class="home">
    <md-layout>
        <div class="search">
            <input type="text" placeholder="Consulte uma criança">
        </div>
    </md-layout>

    <md-layout>
        <md-layout md-align="center">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">{{qtdeCriancas}}</div>
                        <div class="md-subhead">Crianças</div>
                        <md-icon md-iconset="fa fa-clock-o" class="md-size-4x md-warn"></md-icon>
                    </md-card-header-text>
                    <md-card-media md-big>
                        <img src="../../assets/logo.png" alt="Crianca">
                    </md-card-media>
                </md-card-header>
                <md-card-actions>
                    <md-button>Ver mais...</md-button>
                </md-card-actions>
            </md-card>
        </md-layout>

        <md-layout md-align="center">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">{{qtdePadrinhos}}</div>
                        <div class="md-subhead">Padrinhos</div>
                    </md-card-header-text>

                    <md-card-media md-big>
                        <img src="../../assets/logo.png" alt="Crianca">
                    </md-card-media>
                </md-card-header>

                <md-card-actions>
                    <md-button>Ver mais...</md-button>
                </md-card-actions>
            </md-card>
        </md-layout>

        <md-layout md-align="center">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">{{qtdeResponsaveis}}</div>
                        <div class="md-subhead">Responsaveis</div>
                    </md-card-header-text>

                    <md-card-media md-big>
                        <img src="../../assets/logo.png" alt="Crianca">
                    </md-card-media>
                </md-card-header>

                <md-card-actions>
                    <md-button>Ver mais...</md-button>
                </md-card-actions>
            </md-card>
        </md-layout>

        <md-layout md-align="center">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">{{qtdeComunidades}}</div>
                        <div class="md-subhead">Comunidades</div>
                    </md-card-header-text>

                    <md-card-media md-big>
                        <img src="../../assets/logo.png" alt="Crianca">
                    </md-card-media>
                </md-card-header>

                <md-card-actions>
                    <md-button>Ver mais...</md-button>
                </md-card-actions>
            </md-card>
        </md-layout>
    </md-layout>
</div>