<div class="home container">
  <div class="row">
    <div class="search">
      <input type="text" placeholder="Consulte uma criança">
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title">{{qtdeCriancas}}</div>
            <div class="card-subhead">Crianças</div>
          </div>
          <div class="card-action">
            <a href="#">Ver mais...</a>
          </div>
        </div>
        <div class="card-image">
          <img src="../../assets/logo.png" alt="Crianca">
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title">{{qtdePadrinhos}}</div>
            <div class="card-subhead">Padrinhos</div>
          </div>
          <div class="card-action">
            <a href="#">Ver mais...</a>
          </div>
        </div>
        <div class="card-image">
          <img src="../../assets/logo.png" alt="Crianca">
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title">{{qtdeResponsaveis}}</div>
            <div class="card-subhead">Responsaveis</div>
          </div>
          <div class="card-action">
            <a href="#">Ver mais...</a>
          </div>
        </div>
        <div class="card-image">
          <img src="../../assets/logo.png" alt="Crianca">
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title">{{qtdeComunidades}}</div>
            <div class="card-subhead">Comunidades</div>
          </div>
          <div class="card-action">
            <a href="#">Ver mais...</a>
          </div>
        </div>
        <div class="card-image">
          <img src="../../assets/logo.png" alt="Crianca">
        </div>
      </div>
    </div>
  </div>

</div>
